@import "@fontsource/mulish";
import "tailwindcss";

@theme {
    --font-main: "Mulish", sans-serif;

    --primary-color: hsl(224, 76%, 48%);
    --secondary-color: hsl(234, 18%, 68%);
    --important-color: hsl(0, 93%, 42%);
    --active-color: hsl(164, 100%, 36%);
    --title-info: hsl(247, 15%, 35%);
    --title-info-gray: hsl(0, 0%, 67%);
    --bg-color: hsl(220, 18%, 97%);
}

body {
    font-family: var(--font-main);
}